<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script language="JavaScript">
	if (!window.WebSocket){
		//document.getElementById("mydiv").style.display="none";
    	document.write("你的浏览器版本太低，不支持websocket，不能参与聊天，请升级到最新版本。");
	}
</script>
</head>
<body>
<div id='mydiv'>
<form action="/" method="post">
Room name: <input id="txtRoom" type="text" name="room" value="">
Your nickname: <input id="txtNickname" type="text" name="nick" value="">
<input type="submit" value="Start Chat"> 
</form>
</div>
</body>
</html>
