您好, 欢迎使用“虚拟法庭”。本站的目的在于了解案件的"民意"，所有人都可以表达自己对案件的看法。过去，人们可能在现实或者论坛中谈论一些，我认为人们私下随意谈论事情，可以作为呈上法庭证据的补充，并非毫无价值。
<br><br>
提交案件

<br><br>
<form action="">
<input type="text" list="role_list" name="text" />
<input type="submit" />
</form>

<datalist id="role_list">
<option label="原告" value=“原告” />
<option label="原告律师" value="原告律师" />
<option label="被告律师" value="被告律师" />
<option label="法官" value="法官" />
</datalist>


<br><br>
选择案件
<form action="">
<input type="text" list="role_list" name="text" />
<input type="submit" />
</form>

<datalist id="role_list">
<option label="原告" value=“原告” />
<option label="原告律师" value="原告律师" />
<option label="被告律师" value="被告律师" />
<option label="法官" value="法官" />
</datalist>