您好, 欢迎使用“虚拟法庭”。本站所以的律师、法官都是假的，由网友扮演，判决结果不会执行。

这套系统，按道理，应该由法院部门提供，案件结束后，把案件各种证据提交到数据库中，然后由网友重审。

<br><br>
提交案件

<br><br>
选择角色
<form action="">
<input type="text" list="role_list" name="text" />
<input type="submit" />
</form>

<datalist id="role_list">
<option label="原告" value=“原告” />
<option label="原告律师" value="原告律师" />
<option label="被告律师" value="被告律师" />
<option label="法官" value="法官" />
</datalist>


<br><br>
选择案件
<form action="">
<input type="text" list="role_list" name="text" />
<input type="submit" />
</form>

<datalist id="role_list">
<option label="原告" value=“原告” />
<option label="原告律师" value="原告律师" />
<option label="被告律师" value="被告律师" />
<option label="法官" value="法官" />
</datalist>